* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  color: rgba(255, 255, 255, 1);
}

.filtre {
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  background-image: url(./public/background.jpg);
}

@media screen and (max-width: 400px) {
  .container {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
  }
  h1 {
    letter-spacing: unset;
    font-weight: 200;
  }
  .filtre {
    background-image: url(./public/background-mobile.gif);
    background-size: cover;
  }
}
